* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Karla', sans-serif;
}

.container {
  width: 76%;
  margin: 0 auto;
}

@media screen and (max-width: 450px) {
  .container {
    width: 87%;
  }
}

h1, h2, h3 {
  font-family: 'DM Serif Display', serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 1000px) {
  header nav .show-nav {
    position: absolute;
    top: 80px;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: #2d2640;
    width: 100vw;
    height: calc(100vh - 80px);
    padding-top: 2.5rem;
    font-size: 1.25rem;
    line-height: 2.5rem;
  }
}

@media screen and (max-width: 1000px) and (max-width: 450px) {
  header nav .show-nav {
    background-image: url(../images/bg-pattern-mobile-nav.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
  }
}

@media screen and (max-width: 1000px) {
  header nav .show-nav li {
    padding-top: 1.5rem;
    margin-left: 0;
  }
  header nav .show-nav li a {
    color: white;
  }
  header nav .show-nav li.btn a {
    color: white;
    padding: 0.4rem 5rem;
    border: solid white 1.5px;
  }
}

.body-height {
  height: 100vh;
  overflow: hidden;
}

.nav {
  position: relative;
  background-color: #ffffff;
  z-index: 2;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  font-weight: 700;
  line-height: 15.2px;
  letter-spacing: 1.5px;
  height: 80px;
}

.nav-wrapper .hamburger {
  display: none;
}

@media screen and (max-width: 1000px) {
  .nav-wrapper .hamburger {
    display: block;
  }
}

.nav-wrapper ul {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

@media screen and (max-width: 1000px) {
  .nav-wrapper ul {
    display: none;
  }
}

.nav-wrapper ul li {
  margin-left: 1.5rem;
}

.nav-wrapper ul li a {
  color: #95a9c6;
}

.nav-wrapper ul li a:hover {
  color: #2d2640;
}

.nav-wrapper ul li.btn a {
  color: #2d2640;
  padding: 0.75rem 1.75rem;
  border: solid #2d2640 1.5px;
  display: inline-block;
}

.nav-wrapper ul li.btn a:hover {
  color: white;
  background-color: #2d2640;
}

.hero:before, .hero:after {
  content: "";
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  position: absolute;
}

.hero {
  background-color: #2d2640;
  padding-top: 6.5rem;
  position: relative;
}

@media screen and (max-width: 450px) {
  .hero {
    padding-top: 0;
    overflow: hidden;
  }
}

.hero:before {
  background-image: url(../images/bg-pattern-intro-right-desktop.svg);
  background-position: top right;
  top: -5rem;
}

@media screen and (max-width: 1200px) {
  .hero:before {
    top: 0;
    right: -7rem;
    transform: rotate(-25deg);
  }
}

@media screen and (max-width: 1000px) {
  .hero:before {
    top: -4rem;
    right: -2rem;
    transform: rotate(0deg);
  }
}

@media screen and (max-width: 750px) {
  .hero:before {
    top: -6rem;
    right: -6rem;
  }
}

@media screen and (max-width: 450px) {
  .hero:before {
    top: 80%;
    right: -6rem;
    transform: rotate(-10deg);
  }
}

.hero:after {
  background-image: url(../images/bg-pattern-intro-left-desktop.svg);
  background-position: bottom left;
  bottom: -55%;
}

@media screen and (max-width: 1000px) {
  .hero:after {
    bottom: -25%;
  }
}

@media screen and (max-width: 450px) {
  .hero:after {
    top: -30%;
  }
}

.hero-inner {
  display: flex;
}

@media screen and (max-width: 1000px) {
  .hero-inner {
    flex-direction: column-reverse;
    text-align: center;
  }
}

.hero-inner * {
  flex: 1;
}

.hero-inner .hero-text {
  color: white;
  padding-right: 2rem;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 450px) {
  .hero-inner .hero-text {
    padding-right: 0;
    margin-bottom: 6rem;
  }
}

.hero-inner .hero-text h1 {
  font-size: 4.5rem;
  line-height: 4rem;
  letter-spacing: -1px;
  padding-top: 4rem;
  margin-bottom: 1rem;
  position: relative;
}

@media screen and (max-width: 1000px) {
  .hero-inner .hero-text h1 {
    padding-top: 3rem;
  }
}

@media screen and (max-width: 750px) {
  .hero-inner .hero-text h1 {
    font-size: 3rem;
    line-height: 3rem;
    letter-spacing: -0.67px;
    padding-top: 6rem;
  }
}

.hero-inner .hero-text h1:after {
  content: "";
  width: 150px;
  height: 1px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1000px) {
  .hero-inner .hero-text h1:after {
    display: none;
  }
}

.hero-inner .hero-text p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 400;
}

.hero-inner .hero-text a {
  font-size: 0.75rem;
  line-height: 15px;
  letter-spacing: 1.5px;
  color: white;
  padding: 0.75rem 1.75rem;
  border: solid white 1px;
  display: inline-block;
  margin-bottom: 2rem;
}

.hero-inner .hero-text a:hover {
  color: #2d2640;
  background-color: white;
}

.hero-inner picture {
  margin-bottom: -158px;
}

@media screen and (max-width: 1000px) {
  .hero-inner picture {
    margin: 0 -1.5rem;
  }
}

@media screen and (max-width: 450px) {
  .hero-inner picture {
    position: relative;
    z-index: 1;
  }
}

.features {
  margin-top: 19.0625rem;
  margin-bottom: 9.875rem;
  color: #2b272f;
}

@media screen and (max-width: 750px) {
  .features {
    margin-top: 8.75rem;
  }
}

.features .feature-heading {
  font-size: 4.5rem;
  line-height: 4rem;
  letter-spacing: -1px;
  font-weight: 400;
  padding-top: 62px;
  margin-bottom: 6rem;
  position: relative;
}

@media screen and (max-width: 750px) {
  .features .feature-heading {
    text-align: center;
    font-size: 2.5rem;
    padding-top: 2.5rem;
    margin-bottom: 5rem;
  }
}

.features .feature-heading:before {
  content: "";
  width: 150px;
  height: 1px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #837d87;
}

@media screen and (max-width: 750px) {
  .features .feature-heading:before {
    left: 50%;
    transform: translateX(-50%);
  }
}

.features .features-wrapper {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1000px) {
  .features .features-wrapper {
    flex-direction: column;
  }
}

.features .features-wrapper .feature {
  width: 30%;
}

@media screen and (max-width: 1000px) {
  .features .features-wrapper .feature {
    width: 100%;
    text-align: center;
    margin-bottom: 3.5rem;
  }
}

.features .features-wrapper .feature h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.75rem;
  line-height: 2.3rem;
  letter-spacing: -0.40px;
}

.features .features-wrapper .feature p {
  color: #837d87;
  line-height: 26px;
  font-size: 1rem;
}

.action {
  background-color: #2d2640;
  min-height: 15.625rem;
  background-image: url(../images/bg-pattern-how-we-work-desktop.svg);
  background-repeat: no-repeat;
  background-position: top right;
  color: white;
  padding: 0 5rem;
  margin-bottom: 9.375rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .action {
    background-image: url(../images/bg-pattern-how-we-work-mobile.svg);
    flex-direction: column;
    text-align: center;
    padding: 4.5rem 1.5rem;
  }
}

.action h2 {
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 3.5rem;
  letter-spacing: -0.78px;
  max-width: 475px;
}

@media screen and (max-width: 1200px) {
  .action h2 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: -0.56px;
  }
}

.action a {
  color: white;
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 15px;
  letter-spacing: 1.5px;
  padding: 12px 24.5px 11px;
  border: solid white 1px;
  min-width: 159px;
  display: block;
}

@media screen and (max-width: 1000px) {
  .action a {
    margin-top: 2.5rem;
  }
}

.action a:hover {
  background-color: white;
  color: #2d2640;
}

footer {
  background-color: #fafafa;
  background-image: url(../images/bg-pattern-footer-desktop.svg);
  background-repeat: no-repeat;
  padding: 4rem 0;
}

footer .footer-top {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 750px) {
  footer .footer-top {
    flex-direction: column;
    text-align: center;
  }
}

footer .footer-top .social-icons a {
  margin-left: 1rem;
  display: inline-block;
}

footer .footer-top .social-icons a svg path:hover {
  fill: #2b272f;
}

@media screen and (max-width: 750px) {
  footer .footer-top .social-icons a {
    margin-top: 2rem;
  }
}

footer .footer-bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
  margin-top: 2.25rem;
  border-top: solid #95a9c6 1px;
}

@media screen and (max-width: 1000px) {
  footer .footer-bottom {
    flex-direction: column;
    text-align: center;
  }
}

footer .footer-bottom h3 {
  font-family: 'Karla', sans-serif;
  color: #837d87;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 1.5px;
  margin-bottom: 20px;
}

footer .footer-bottom a {
  color: #2b272f;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 1.5px;
  margin-top: 1rem;
  display: inline-block;
}

footer .footer-bottom a:hover {
  text-decoration: underline;
}

footer .footer-bottom div {
  width: 23.3%;
}

@media screen and (max-width: 1000px) {
  footer .footer-bottom div {
    width: 100%;
    margin-bottom: 2.5rem;
  }
}

footer .attribution {
  margin-top: 0.5rem;
  font-size: 11px;
  text-align: center;
}

footer .attribution a {
  color: #3e52a3;
}
